
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #2f2d2d;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #f6f4f4;
$white: #fffdfd;

// Font stacks
$helvetica: 'Karma', serif;
$helveticaNeue: 'Work Sans', 'Open Sans', sans-serif;
$georgia: 'Karma', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
